
  <div class="d-flex">
    
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
        <li><a (click)="active='profile'"><div class="flexy"><img [src]="readerUser.picture" width="120rem"></div></a></li>
        <br/>
        <li><h3 style="text-align: center; color: white">{{readerUser.name}} {{readerUser.lastName}}</h3></li>
        <br/>
        <br/>
        
      <li ngbNavItem="main">
        <a ngbNavLink>Pocetna</a>
        <ng-template ngbNavContent>
          
        </ng-template>
      </li>




      <!---------------------------------------------------PROFIL------------------------------------------>
      <li ngbNavItem="profile">
        <a ngbNavLink>Profil</a>
        <ng-template ngbNavContent>
            
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">


                    <div class="col-lg-6">
                      <div class="p-5">
                        
                        <h1 class="fw-normal mb-5" style="color: #4835d4;">Profil korisnika:</h1>
                      
                        <img width="100rem" [src]="readerUser.picture">
                        

      
                        <div class="row">
                          
                            <div class="col-md-5 mb-4 pb-2">
                              
                              <div class="form-outline form-white">
                                <br/>
                                <input type="text" id="input5" class="form-control form-control-lg" name="profileRegisterName" [(ngModel)]="profileRegisterName" required />
                                <label class="form-label" for="input5">Ime</label>
                            </div>
                            <span style='color: red'>{{profileRegisterNameMessage}}</span>
        
                            </div>
                            <div class="col-md-7 mb-4 pb-2">
        
                              <div class="form-outline form-white">
                                <br/>
                                <input type="text" id="input6" class="form-control form-control-lg" name="profileRegisterLastName" [(ngModel)]="profileRegisterLastName" required />
                                <label class="form-label" for="input6">Prezime</label>
                                
                              </div>
                              <span style='color: red'>{{profileRegisterLastNameMessage}}</span>
                            </div>
                          </div>
                              

                              <div class="mb-4 pb-2">
                                <div class="form-outline">
                                  <input type="text" id="input7" class="form-control form-control-lg" name="profileRegisterAddress" [(ngModel)]="profileRegisterAddress" required/>
                                  <label class="form-label" for="input7">Adresa</label>
                                  
                                </div>
                                <span style='color: red'>{{profileRegisterAddressMessage}}</span>
                              </div>

                              <div class="mb-4 pb-2">
                                <div class="form-outline">
                                  <input type="text" id="input8" class="form-control form-control-lg" name="profileRegisterContact" [(ngModel)]="profileRegisterContact" required />
                                  <label class="form-label" for="input8">Kontakt telefon</label>
                                </div>
                                <span style='color: red'>{{profileRegisterContactMessage}}</span>
                              </div>

                              





                      </div>
                    </div>



                    <div class="col-lg-6 bg-indigo text-white">
                      <div class="p-5">
                       
                        <h3 class="fw-normal mb-5">Izmenite podatke po potrebi i pritisnite dugme azuriraj</h3>
                        


                        
                        <div class="form-outline">
                          <input type="text" id="input9" class="form-control form-control-lg" name="profileRegisterEmail" [(ngModel)]="profileRegisterEmail" required />
                          <label class="form-label" for="input9">Email adresa</label>
                        </div>
                        <span style='color: red'>{{profileRegisterEmailMessage}}</span>




                        <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                            <input type="text" id="input10" class="form-control form-control-lg" name="profileRegisterUsername" [(ngModel)]="profileRegisterUsername" required />
                            <label class="form-label" for="input10">Korisnicko ime</label>
                          </div>
                          <span style='color: red'>{{profileRegisterUsernameMessage}}</span>
                        </div>
      
                        

                          <tr>
                            <td>
                                <input id="pictureUpload" type="file" (change)="addProfilePicture($event)" accept="image/jpg, image/png"  required >
                            </td>
                            {{profilePictureAddingMessage}}
                            <img *ngIf="profileIsSaved" [src]="profilePicturePath()" alt="" />
                            
                        </tr>
                        
                        <br/>
                        
                        
      
                        <button type="button" class="btn btn-light btn-lg"
                          data-mdb-ripple-color="dark" (click)="update()">Azuriraj</button>
                          <br/>
                          <span style='color: red'>{{profileRegisterUsernameMessage}}</span>
                          <br/>
                          <span *ngIf="profileValidationSuccess" style='color: green; margin: 2%;'>Uspesno azurirane informacije o korisniku!</span>
                         
                          <br/>
                          <br/>
                          <hr style="background-color: white;"/>
                          <div class="mb-4 pb-2">
                            <div class="form-outline form-white">
                              <h4>Broj dana za vracanje/produzivnje knjige:</h4>
                              <br/>
                              <input type="text" id="input10" class="form-control form-control-lg" name="extendParametar" [(ngModel)]="extendParametar" required />
                              <label class="form-label" for="input10">Broj dana za vracanje/produzivnje knjige:</label>
                              <button type="button" class="btn btn-light btn-lg"
                              data-mdb-ripple-color="dark" (click)="updateExtendDate()" style="margin: 5% 5%;">Azuriraj broj dana</button>
                            </div>
                            
                            <span style='color: green'>{{messageUpdateExtend}}</span>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>







          
<!---------------------------------------------------------------------PROMENA LOZINKE-------------------------------------------------------------------------->


        
      <li ngbNavItem="changePassword">
        <a ngbNavLink>Promena lozinke</a>
        <ng-template ngbNavContent>
          
          <div style="display: flex;justify-content:center;align-items: center;">
          <div class="col-lg-6 bg-indigo text-white" style="border-radius: 0.5rem;">
            <div class="p-5">
              <h3 class="fw-normal mb-5">Promena lozinke</h3>
              

              <div class="mb-4 pb-2">
                <div class="form-outline form-white">
                  <input type="password" id="oldPassword" class="form-control form-control-lg" name="oldPassword" [(ngModel)]="oldPassword" required />
                  <label class="form-label" for="oldPassword">Stara lozinka</label>
                  <span style='color: red; display: block; margin-top: 1%;'>{{oldPasswordMessage}}</span>
                </div>
                
              </div>

              <div class="mb-4 pb-2">
                <div class="form-outline form-white">
                  <input type="password" id="newPassword1" class="form-control form-control-lg" name="newPassword1" [(ngModel)]="newPassword1" required />
                  <label class="form-label" for="newPassword1">Nova lozinka</label>
                  <span style='color: red; display: block; margin-top: 1%;'>{{newPassword1Message}}</span>
                </div>
                
              </div>

              <div class="mb-4 pb-2">
                  <div class="form-outline form-white">
                    <input type="password" id="newPassword2" class="form-control form-control-lg" name="newPassword2" [(ngModel)]="newPassword2" required />
                    <label class="form-label" for="newPassword2">Potvrda nove lozinke</label>
                    <span style='color: red; display: block; margin-top: 1%;'>{{newPassword2Message}}</span>
                  </div>
                  
                </div>
              
              


              <button type="button" class="btn btn-light btn-lg"
                data-mdb-ripple-color="dark" (click)="changePassword()" >Promeni lozinku</button>
                <br/>
                <br/>
                <span style='color: red; display: block; margin-top: 1%;' >{{badOldPasswordMessage}}</span>
                <span style='color: red; display: block; margin-top: 1%;'>{{notSameMessage}}</span>
                <span style='color: red; display: block; margin-top: 1%;'>{{requiredRegex2Message}}</span>
                <span *ngIf="changePasswordSuccess" style='color: green; margin: 2%;'>Uspesno promenjena lozinka</span>
                
              </div>
          </div>
        </div>

        </ng-template>
      </li>
      


 <!-------------------------------------------------------OSNOVNA PRETRAGA------------------------->
     
      
 <li ngbNavItem="searchBasic">
  <a ngbNavLink>Osnovna pretraga</a>
  <ng-template ngbNavContent>
    
      <div class="container" style="display: flex;justify-content:center;">
      <div class="mb-3 col-lg-6" style="background-color:#004085; padding: 5%; border-radius: 0.5rem;">
         <h3 style="color:white">Osnovna pretraga:</h3>
          <input type="text" class="form-control" placeholder="Unesite naziv knjige" [(ngModel)]="searchParam" style="margin: 5% 0;">
          <input type="text" class="form-control" placeholder="Unesite nazive autora (razdvojene zarezom)" [(ngModel)]="searchParamAuthor" style="margin: 5% 0;">
          <button type="button" class="btn btn-primary"
        data-mdb-ripple-color="dark" (click)="doSearch()" style="margin: 2% 0;">Pretraga</button>
        </div> 
        
      </div>
      <div class="cardContainer">
        

       
              <div style="display: flex; justify-content:center; flex-wrap: wrap;">
          <div class="card" *ngFor='let p of searchResults' style="width: 18rem; margin: 0.5rem; border-radius: 0.5rem; min-height: 30rem;">
            
            
              <div style="display: flex;">
                <div style="flex-grow: 1;">
              <div style="display: flex; justify-content: center; padding: 10%;"><img [src]="p.picture" max-width="100px" height="100px"></div>
              <div class="card-body">
                <h5 class="card-title">ID: {{p.idBook}}</h5>
                <h4 class="card-title">Naslov: {{p.title}}</h4>
                <h5 class="card-title">Autori: {{p.writer}}</h5>
                <h5 class="card-title">Zanr: {{p.genre}}</h5>
                <h5 class="card-title">Izdavac: {{p.publisher}}</h5>
                <h5 class="card-title">Godina izdanja: {{p.pubYear}}</h5>
                <h5 class="card-title">Jezik: {{p.language}}</h5>
                
                
                <ngb-rating [(rate)]="p.averageRating" [readonly] = "true"></ngb-rating>
                  <hr>
                <pre style="font-family: 'Caveat', cursive;">Prosecna ocena: <b>{{p.averageRating}}</b></pre>
                <button  class="btn btn-primary" style="margin: 10px;"(click)="navigateToBookPage(p.idBook)">Detalji</button>
              </div>
               <h3 style="color:red;">{{searchMessage}}</h3>
  
              
    </div>


            </div>
          </div>
          

          
      </div>
  

      </div>

  </ng-template>
</li>
      
<!--------------------------------------DODAVANJE KNJIGA DIREKTNO U SISTEM---------------------------------------->


<li ngbNavItem="addBook">
  <a ngbNavLink>Dodavanje nove knjige</a>
  <ng-template ngbNavContent>
    
     

            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                  <div class="card-body p-0">
                    <div class="row g-0">


                      <div class="col-lg-6">
                        <div class="p-5">
                          <h3 class="fw-normal mb-5" style="color: #4835d4;">Osnovne informacije o knjizi</h3>
        
        
                          


                            
                            <div class="mb-4 pb-2">
                              <div class="form-outline">
                                <input type="text" id="input55" class="form-control form-control-lg" name="newBookTitle" [(ngModel)]="newBookTitle" required/>
                                <label class="form-label" for="input7">Naziv knjige</label>
                                
                              </div>
                              <span style='color: red'>{{newBookTitleMessage}}</span>
                            </div>


                            
                            <div class="mb-4 pb-2">
                              <div class="form-outline">
                                <input type="text" id="input56" class="form-control form-control-lg" name="newBookWriter" [(ngModel)]="newBookWriter" required/>
                                <label class="form-label" for="input7">Autor</label>
                                
                              </div>
                              <span style='color: red'>{{newBookWriterMessage}}</span>
                            </div>
                                
                            <mat-form-field>
                              <mat-label style="color: black;  font-family: 'Caveat', cursive;">Zanr(izabrati do 3 zanra)</mat-label>
                              <mat-select name="model" [(ngModel)]="newBookArrayGenre" multiple>
                                <mat-option *ngFor="let genre of genresList" [value]="genre">{{genre}}</mat-option>
                              </mat-select>
                            </mat-form-field>

                            <span style='color: red'>{{newBookArrayGenreError}}</span>
                            

                                <div class="mb-4 pb-2">
                                  <div class="form-outline">
                                    <input type="text" id="input8" class="form-control form-control-lg" name="newBookPublisher" [(ngModel)]="newBookPublisher" required />
                                    <label class="form-label" for="input8">Izdavac</label>
                                  </div>
                                  <span style='color: red'>{{newBookPublisherMessage}}</span>
                                </div>

                                



                              <div class="form-outline">
                                <input type="text" id="input9" class="form-control form-control-lg" name="newBookPubYear" [(ngModel)]="newBookPubYear" required />
                                <label class="form-label" for="input9">Godina izdanja</label>
                              </div>
                              <span style='color: red'>{{newBookPubYearMessage}}</span>


                        </div>
                      </div>



                      <div class="col-lg-6 bg-indigo text-white">
                        <div class="p-5">
                          <h3 class="fw-normal mb-5">Unesite informacije i pritisnite dodaj knjigu!</h3>
        
                          <div class="mb-4 pb-2">
                            <div class="form-outline form-white">
                              <input type="text" id="input10" class="form-control form-control-lg" name="newBookLanguage" [(ngModel)]="newBookLanguage" required />
                              <label class="form-label" for="input10">Jezik</label>
                            </div>
                            <span style='color: red'>{{newBookLanguageMessage}}</span>
                          </div>

                          
                          <tr>
                            <td>
                                <input id="pictureUpload" type="file" (change)="newBookAddPicture($event)" accept="image/jpg, image/png"  required >
                            </td>
                            {{newBookPictureAddingMessage}}
                            <img *ngIf="newBookIsSaved" [src]="newBookPicturePath()" alt="" />
                            
                        </tr>
                        <span style='color: red'>{{newBookRequiredPictureMessage}}</span>
                        <br/>
                        

      
                        <button type="button" class="btn btn-light btn-lg"
                          data-mdb-ripple-color="dark" (click)="registerNewBook()">Dodaj knjigu</button>
                        
                          <span *ngIf="newBookValidationSuccess" style='color: green; margin: 2%;'>Uspesno dodata knjiga!</span>
                          <!--<img [src]="picture">-->



        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
     



  </ng-template>
</li>


        <!----------------------------------ZAHTEVI---------------------------->

        <li ngbNavItem="requests">
            <a ngbNavLink>Zahtevi</a>
            <ng-template ngbNavContent>
              
                <div class="container jumbotron" style="display: flex;justify-content:center;">
                    
                        <div class=" requestsClass">
                        
                            <div *ngFor='let p of requestsToConfirm' style="margin: 0.5rem;">
                                <div  class="card" *ngIf="!p.processed" style="width: 18rem; border-radius: 0.5rem;">
                                <div style="display: flex; justify-content: center; padding: 10%;"><img [src]="p.picture" width="100px" height="100px"></div>
                                <div class="card-body">
                                  <h5 class="card-title">Korisnicko ime: {{p.username}}</h5>
                                  <p class="card-text requestCards">Ime: {{p.name}}</p>
                                  <p class="card-text requestCards">Prezime: {{p.lastName}}</p>
                                  <p class="card-text requestCards">Adresa: {{p.address}}</p>
                                  <p class="card-text requestCards">Kontakt telefon: {{p.contact}}</p>
                                  <p class="card-text requestCards">Email: {{p.email}}</p>
                                    <br/>
                                  <div style="display: flex; justify-content:space-around;">
                                    <button (click)="acceptRequest(p)" class="btn btn-primary" style="background-color:green;margin: 1%;">Prihvati zahtev</button>
                                  <button (click)="refuseRequest(p)" class="btn btn-primary" style="background-color:red;margin: 1%;">Odbij zahtev</button>
                                  
                                  </div>
                                </div>
                            </div>
                            <!--<div *ngIf="p.processed" style="display: flex;justify-content:center;">
                                <p>Obradjen!</p>
                            </div>-->


                              </div>

                            <span *ngIf='requestsToConfirm.length == 0' style='color: red; display: block; margin-top: 1%;'>"Nemate novih zahteva!"</span>

                            
                        </div>
                    
                </div>
            </ng-template>
          </li>

          <!------------------------------------------------AZURIRANJE I BRISANJE KORISNIKA----------------------------------------------------------->


          <li ngbNavItem="updateUser">
            <a ngbNavLink>Azuriranje i brisanje korisnika</a>
            <ng-template ngbNavContent>

            
                
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12">
                  <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                      <div class="row g-0">
    
    
                        <div class="col-lg-6">
                          <div class="p-5">
                            Izaberite korisnika:
                            <select class="form-select" name="chosenUserUsername" (change)="showChosenUserInfo()" [(ngModel)] = "chosenUserUsername" style="width: 40%; border: 1px #ced4da solid; border-radius: 0.3rem; margin: 0 5%;">
                              
                              <option *ngFor="let user of allUsers" value="{{user.username}}">{{user.username}}</option>
                            </select>
                      
                            <h1 class="fw-normal mb-5" style="color: #4835d4;">Profil korisnika:</h1>
                          
                            <img width="100rem" [src]="userInfoPicture">
                            
    
          
                            <div class="row">
                              
                                <div class="col-md-5 mb-4 pb-2">
                                  
                                  <div class="form-outline form-white">
                                    <br/>
                                    <input type="text" id="input5" class="form-control form-control-lg" name="userInfoName" [(ngModel)]="userInfoName" required />
                                    <label class="form-label" for="input5">Ime</label>
                                </div>
                                <span style='color: red'>{{userInfoNameMessage}}</span>
            
                                </div>
                                <div class="col-md-7 mb-4 pb-2">
            
                                  <div class="form-outline form-white">
                                    <br/>
                                    <input type="text" id="input6" class="form-control form-control-lg" name="userInfoLastName" [(ngModel)]="userInfoLastName" required />
                                    <label class="form-label" for="input6">Prezime</label>
                                    
                                  </div>
                                  <span style='color: red'>{{userInfoLastNameMessage}}</span>
                                </div>
                              </div>
                                  
    
                                  <div class="mb-4 pb-2">
                                    <div class="form-outline">
                                      <input type="text" id="input7" class="form-control form-control-lg" name="userInfoAddress" [(ngModel)]="userInfoAddress" required/>
                                      <label class="form-label" for="input7">Adresa</label>
                                      
                                    </div>
                                    <span style='color: red'>{{userInfoAddressMessage}}</span>
                                  </div>
    
                                  <div class="mb-4 pb-2">
                                    <div class="form-outline">
                                      <input type="text" id="input8" class="form-control form-control-lg" name="userInfoContact" [(ngModel)]="userInfoContact" required />
                                      <label class="form-label" for="input8">Kontakt telefon</label>
                                    </div>
                                    <span style='color: red'>{{userInfoContactMessage}}</span>
                                  </div>
    
                                  
    
    
    
    
    
                          </div>
                        </div>
    
    
    
                        <div class="col-lg-6 bg-indigo text-white">
                          <div class="p-5">
                           
                            <h3 class="fw-normal mb-5">Izmenite podatke po potrebi i pritisnite dugme azuriraj</h3>
                            
    
    
                            
                            <div class="form-outline">
                              <input type="text" id="input9" class="form-control form-control-lg" name="userInfoEmail" [(ngModel)]="userInfoEmail" required />
                              <label class="form-label" for="input9">Email adresa</label>
                            </div>
                            <span style='color: red'>{{userInfoEmailMessage}}</span>
    
    
    
    
                            <div class="mb-4 pb-2">
                              <div class="form-outline form-white">
                                <input type="text" id="input10" class="form-control form-control-lg" name="userInfoUsername" [(ngModel)]="userInfoUsername" required />
                                <label class="form-label" for="input10">Korisnicko ime</label>
                              </div>
                              <span style='color: red'>{{userInfoUsernameMessage}}</span>
                            </div>
          
                            
    
                              <tr>
                                <td>
                                    <input id="pictureUpload3" type="file" (change)="addUserInfoPicture($event)" accept="image/jpg, image/png"  required >
                                </td>
                                {{userInfoPictureAddingMessage}}
                                <img *ngIf="userInfoIsSaved" [src]="userInfoPicturePath()" alt="" />
                                
                            </tr>
                            
                            <br/>
                            
                            
          
                            <button type="button" class="btn btn-light btn-lg"
                              data-mdb-ripple-color="dark" (click)="updateUserInfo()">Azuriraj</button>
                              <button type="button" class="btn btn-light btn-lg"
                              data-mdb-ripple-color="dark" style="margin: 0 5%; background-color:#c14545; color: white" (click)="deleteUser()">Obrisi korisnika</button>
                              <br/>
                              <hr style="background-color: white;"/>
                              <button *ngIf="chosenUserType == 'citalac'" type="button" class="btn btn-light"
                              data-mdb-ripple-color="dark" style="margin: 5% 0;" (click)="raisePrivilegies()">Podigni privilegiju korisniku</button>
                              <button *ngIf="chosenUserType == 'moderator'" type="button" class="btn btn-light"
                              data-mdb-ripple-color="dark" style="margin: 5% 0;" (click)="lowerPrivilegies()">Smanji privilegiju korisniku</button>
                            
                              <span *ngIf="userInfoValidationSuccess" style='color: green; margin: 2%;'>Uspesno azurirane informacije o korisniku!</span>
                              <br/>
                              <span style="color: red">{{errorUserHaveLoan}}</span>
                              <span style="color: green">{{raiseOrLowerMessage}}</span>
                              <br/>
                              <button *ngIf="!isBlocked && (chosenUserType == 'moderator' || chosenUserType == 'citalac')" type="button" class="btn btn-light"
                              data-mdb-ripple-color="dark" style="margin: 5% 0;" (click)="block()">Blokiraj korisnika</button>
                              <button *ngIf="isBlocked && (chosenUserType == 'moderator' || chosenUserType == 'citalac')" type="button" class="btn btn-light"
                              data-mdb-ripple-color="dark" style="margin: 5% 0;" (click)="unblock()">Odblokiraj korisnika</button>
                              <span style="color: green; margin: 0 5%;">{{blockUnblockMessage}}</span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
    
    
    
    



          <!----------------------------------REGISTRACIJA----------------------------->

          <li ngbNavItem="register">
            <a ngbNavLink>Registracija novog korisnika</a>
            <ng-template ngbNavContent>
              
               
    
                      <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12">
                          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                            <div class="card-body p-0">
                              <div class="row g-0">
    
    
                                <div class="col-lg-6">
                                  <div class="p-5">
                                    <h3 class="fw-normal mb-5" style="color: #4835d4;">Osnovne informacije</h3>
                  
                  
                                    <div class="row">
                                        <div class="col-md-5 mb-4 pb-2">
                    
                                          <div class="form-outline form-white">
                                            <input type="text" id="input5" class="form-control form-control-lg" name="registerName" [(ngModel)]="registerName" required />
                                            <label class="form-label" for="input5">Ime</label>
                                        </div>
                                        <span style='color: red'>{{registerNameMessage}}</span>
                    
                                        </div>
                                        <div class="col-md-7 mb-4 pb-2">
                    
                                          <div class="form-outline form-white">
                                            <input type="text" id="input6" class="form-control form-control-lg" name="registerLastName" [(ngModel)]="registerLastName" required />
                                            <label class="form-label" for="input6">Prezime</label>
                                            
                                          </div>
                                          <span style='color: red'>{{registerLastNameMessage}}</span>
                                        </div>
                                      </div>
                                          
    
                                          <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                              <input type="text" id="input7" class="form-control form-control-lg" name="registerAddress" [(ngModel)]="registerAddress" required/>
                                              <label class="form-label" for="input7">Adresa</label>
                                              
                                            </div>
                                            <span style='color: red'>{{registerAddressMessage}}</span>
                                          </div>
    
                                          <div class="mb-4 pb-2">
                                            <div class="form-outline">
                                              <input type="text" id="input8" class="form-control form-control-lg" name="registerContact" [(ngModel)]="registerContact" required />
                                              <label class="form-label" for="input8">Kontakt telefon</label>
                                            </div>
                                            <span style='color: red'>{{registerContactMessage}}</span>
                                          </div>
    
                                          
    
    
    
                                        <div class="form-outline">
                                          <input type="text" id="input9" class="form-control form-control-lg" name="registerEmail" [(ngModel)]="registerEmail" required />
                                          <label class="form-label" for="input9">Email adresa</label>
                                        </div>
                                        <span style='color: red'>{{registerEmailMessage}}</span>
    
    
                                  </div>
                                </div>
    
    
    
                                <div class="col-lg-6 bg-indigo text-white">
                                  <div class="p-5">
                                    <h3 class="fw-normal mb-5">Informacije o nalogu</h3>
                  
                                    <div class="mb-4 pb-2">
                                      <div class="form-outline form-white">
                                        <input type="text" id="input10" class="form-control form-control-lg" name="registerUsername" [(ngModel)]="registerUsername" required />
                                        <label class="form-label" for="input10">Korisnicko ime</label>
                                      </div>
                                      <span style='color: red'>{{registerUsernameMessage}}</span>
                                    </div>
                  
                                    <div class="mb-4 pb-2">
                                      <div class="form-outline form-white">
                                        <input type="password" id="input11" class="form-control form-control-lg" name="registerPassword" [(ngModel)]="registerPassword" required />
                                        <label class="form-label" for="input11">Lozinka</label>
                                      </div>
                                      <span style='color: red'>{{registerPasswordMessage}}</span>
                                      <span style='color: red'>{{requiredRegexMessage}}</span>
                                    </div>
    
                                    <div class="mb-4 pb-2">
                                        <div class="form-outline form-white">
                                          <input type="password" id="input12" class="form-control form-control-lg" name="registerConfirmPassword" [(ngModel)]="registerConfirmPassword" required />
                                          <label class="form-label" for="input12">Potvrda lozinke</label>
                                        </div>
                                        <span style='color: red'>{{registerConfirmPasswordMessage}}</span>
                                      </div>
                                    
                                      <tr>
                                        <td>
                                            <input id="pictureUpload" type="file" (change)="addPicture($event)" accept="image/jpg, image/png"  required >
                                        </td>
                                        {{pictureAddingMessage}}
                                        <img *ngIf="isSaved" [src]="picturePath()" alt="" />
                                        
                                    </tr>
                                    <span style='color: red'>{{requiredPictureMessage}}</span>
                                    <br/>
                                    
    
                  
                                    <button type="button" class="btn btn-light btn-lg"
                                      data-mdb-ripple-color="dark" (click)="registration()">Register</button>
                                    
                                      <span *ngIf="validationSuccess" style='color: green; margin: 2%;'>Uspesno dodavanje novog korisnika</span>
                                      <!--<img [src]="picture">-->
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
               
    
    
    
            </ng-template>
          </li>



          <!----------------------------------ODJAVA---------------------------->



        <li ngbNavItem="logOut">
            <a ngbNavLink (click)="logOut()">Odjava</a>
        </li>


        




    </ul>
  
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
  </div>

  
  

